@import "tailwindcss";

/* -------------------------------
   Root Theme Variables
-------------------------------- */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Tailwind theme bindings */


/* -------------------------------
   Dark Mode (Manual Toggle)
-------------------------------- */
html.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

/* -------------------------------
   Base Styles
-------------------------------- */
html, body {
    background-color: var(--background);
    max-width: 100%;
    color: var(--foreground);
    font-family: var(--font-geist-sans);
    transition: background-color .3s, color .3s;
    overflow-x: hidden;
}

/* -------------------------------
   Components
-------------------------------- */
@layer components {
  .nav-link {
    position: relative;
    transition: color 0.3s ease;
  }

  .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background-color: #2563eb; /* blue-600 */
    transition: width 0.3s ease;
  }

  .nav-link:hover {
    color: #2563eb;
  }

  .nav-link:hover::after {
    width: 100%;
  }
}
